# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next/
out/

# Production build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Cache
.cache/
.parcel-cache/
.turbo/

# OS files
.DS_Store
Thumbs.db

# IDE / editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Temporary files
*.tmp
*.temp

# Prisma
# Uncomment if you don't want generated Prisma files tracked
# prisma/generated/

# Uploads / local files
uploads/

server/.env